@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	background-color: #333e59;
}

#nav {
	text-align: center;
	background-color: #333e59;
  }
  
  #nav li {
	list-style: none;
	display: inline-block;
	background-color: #333e59;
  }
  
  #nav a {
	background-color: #333e59;
	color: #fabbac;
	display: flex;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	padding: 20px 20px;
	text-decoration: none;
  }
  
  #nav a:hover {
	color: #ef8795;
  }
  

p{
	color: #fabbac;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	text-align: center;
	padding: 100px 20%;

}

