@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	background-color: #333e59;
}

#nav {
	text-align: center;
	background-color: #333e59;
  }
  
  #nav li {
	list-style: none;
	display: inline-block;
	background-color: #333e59;
  }
  
  #nav a {
	background-color: #333e59;
	color: #fabbac;
	display: flex;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	padding: 20px 20px;
	text-decoration: none;
  }
  
  #nav a:hover {
	color: #ef8795;
  }
  

p.beantoo{
	color: #fabbac;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	text-align: center;
	padding: 20px 20%;

}

div.nugget {
	padding-left: 200px;
	text-align: left;
}

img.nugget {
	border-radius: 50%;
	height: 300px;
}

p.nugget {
	color: #fabbac;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	position: absolute;
	top: 450px;
	left: 560px;
}


h4{
	color: #ef8795;
	font-family: 'Fredoka One', cursive;
	font-size: 42px;
	text-align: center;
	padding: 20px 20%;
}


h3{
	color: #ef8795;
	font-family: 'Fredoka One', cursive;
	font-size: 42px;
	position: absolute;
	top: 450px;
	left: 560px;
}

span{
	opacity: 0;
	transition: all 0.4s ease;
	transform: translateY(50px);
	display: inline-block;
}

span.fade{
	opacity: 1;
	transform: translateY(0px);
}

